{% extends "core/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="entry-content">
					<hr>
<p><strong>Misión<br>
</strong>Somos una Institución de nivel superior que brinda servicios educativos con calidad a través de sus programas académicos y personal docente certificado para formar profesionistas que coadyuven al desarrollo de la región</p>
<hr>
<p><strong>Visión<br>
</strong>Ser una institución de nivel superior líder con reconocimiento nacional e internacional, que otorgue prestigio a sus egresados en su campo profesional y el más alto nivel de calidad y excelencia académica</p>
<hr>
<p><strong>VALORES:<br>
</strong><strong>TOLERANCIA</strong><br>
Actitud de respeto hacia las ideas, creencia o prácticas de la comunidad universitaria y sociedad en general<br>
<strong>LEALTAD</strong><br>
Fidelidad hacia los principios rectores y objetivos institucionales, procurando y cuidando el buen nombre de la institución dentro y fuera de ella<br>
<strong>HONESTIDAD</strong><br>
Realizar con transparencia nuestra labor cumpliendo con los lineamientos de la institución.<br>
<strong>TRABAJO EN EQUIPO</strong><br>
Apoyarnos de manera mutua en nuestra labor para llegar a un fin en comun<br>
<strong>RESPONSABILIDAD</strong><br>
Cumplir con los objetivos académicos, administrativos de manera puntual y eficaz<br>
<strong>HUMILDAD</strong><br>
Conocer las propias limitaciones y debilidades de la institución y actuar de acuerdo a tal conocimiento</p>
<hr>
<p><strong>POLITICA DE CALIDAD<br>
</strong>En la Universidad Istmo Americana, tenemos la responsabilidad de forma profesionistas competitivos a través de programas de estudios vigentes y personal docente certificado.<br>
Contando con la infraestructura adecuada para que el proceso de enseñanza aprendizaje se realice de manera eficaz y eficiente, cumpliendo con los requisitos de nuestros clientes así como los legales y reglamentarios.</p>
<hr>
<p>&nbsp;</p>
					</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
